/* Custom CSS for scrolling text */
.scrolling-container {
  white-space: nowrap;
  overflow: hidden;
  display: flex; /* Use flex to position image and text together */
  align-items: center; /* Center alignment for the flex container */
  width: 100%; /* Set width to 100% */
}

.scrolling-text {
  display: inline-block;
  color: white;
}

#scrollingImage {
  height: auto; /* Ensure image height adjusts according to width */
}

/* section-3 div-height and img -height-width */
.sc-item {
  height: 600px;
}
.sc-img {
  height: 100%;
  /* object-fit: cover; */
}

/* scroll-top-up */
.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 1;
}
.scroll-top {
  width: 4rem;
  height: 4rem;
  background: darkorange;
  display: inline-block;
  padding: 1.4rem 1.7rem;
  position: relative;
  color: white;
  /* animation: water-wase 3s linear infinite; */
  cursor: pointer;
  border-radius: 50%;
}


/* sticky navbar css */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Define styles for the container and images */
#imageContainer img{
  height: 300px;
}

/* Media query for screens smaller than 600px */
@media (max-width: 576px) {
  .carousel-inner{
    height: 350px;
  }
}

/* section-6 */
#galary-img a img{
  height: 100%;
}

/* Student Login-Form css */
.background {
  background-image: url('../image/leaf-img.jpg!d'); /* Change the URL to your desired background image */
  background-size: cover;
  /* backdrop-filter: blur(5px); */
  height: 100vh;
}

#stu-card {
  background-color: black; /* Adjust the opacity as needed */
  opacity: 0.8;
  
}

#stu-title {
  color:white; /* Change the color of the title */
}

/* Staff Login-form css */
#staffLogin {
  background-image: url('../image/leaf2.jpg!s1'); /* Change the URL to your desired background image */
  background-size: cover;
  /* backdrop-filter: blur(5px); */
  height: 100vh;
}

#stu-card {
  background-color: black; /* Adjust the opacity as needed */
  opacity: 0.8;
}

#stu-title {
  color:white; /* Change the color of the title */
}


/* Optional: Styling for the address */
.address {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

/* datesheet.html -rules css */
#rule-datesheet{
  max-width:90%;
  /* max-height: 80%; */
  background-color:lightsteelblue;
  padding-top: 30px;
  padding-bottom: 1px;
}
.rule{
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}

/* School Awards */

#start-container {
  padding: 20px;
}
.award-image {
  max-width: 100%;
  height: auto;
}
  

/* section-6 Image-gallery home page */


