<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ceminaar photos</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <main>
    <section style="background-color: green; text-align: center; padding: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h1 style="color: white; font: bolder">Ceminaar Photos Gallery</h1>
              <p style="color: gold; font-weight: 600">
                Hiba Public School Faridabad-
                <small class="text-light">Academic</small>
              </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Image-Gallery -->
    <div class="full-img" id="fullImgBox">
      <img src="imges-ceminnar/img11.jpg" alt="" id="fullImg">
      <span onclick="closeFullImg()">X</span>
    </div>
    <div class="img-gallery">
      <img src="imges-ceminnar/img11.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img2.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img3.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img4.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img5.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img6.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img7.jpeg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img8.jpg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img9.webp" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img10.webp" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img12.jpeg" alt="" onclick="openFullImg(this.src)">
      <img src="imges-ceminnar/img13.jpeg" alt="" onclick="openFullImg(this.src)">
    </div>

  </main>
  <script>
    const fullImgBox = document.getElementById("fullImgBox");
    const fullImg = document.getElementById("fullImg");

    function openFullImg(pic){
      fullImgBox.style.display = "flex";
      fullImg.src = pic;
    }

    function closeFullImg(){
      fullImgBox.style.display = "none";
    }
  </script>
</body>
</html>