*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgb(189, 225, 247);
}

.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: transform .8s;
}

.img-gallery img:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}

/* image will be center and rest of part is dark */
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    max-width: 700px;
    border: 1px solid white;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media (max-width: 576px){
    .full-img img{
        max-width: 350px;
        border: 1px solid green;
    }
}